<section>
        <div class="container">
            <div class="row portfolio_cont_sec_1">
            <div class="col-md-9" >
                <h2><b>Ana Rivera</b></h2>
                <p><i>* Creating Successful Jobs *</i></p>
                <hr/>
                <P>I am a graphic designer, I was born in Colombia in 1984. I consider myself an animal lover and very passionate about my work.
                    I have visited different countries learning different colors and shapes from each culture to create inspiration in my mind. <br>
                    I am currently in Canada studying a diploma in Software Design to complement my studies. <br>
                    Rivera, is a design company where we will provide you with all the tools and facilities to design your projects in a
                    successful and internationally recognized way.
                </P>
            </div>
            <div class="portfolio_cont_sec_1_link col-md-3 text-center" >
                <img class= "portfolio_cont_image" src="img/profile.jpg" alt="My picture">
            </div>
          </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row portfolio_cont_sec_2">
                <div class="col-md-9">
                <h2><b> Follow us Social Media </b></h2>
                <hr/>
                <p> In our social media you can found information about our customers and differents Projects.</p>
               
                <a target="_blank" href="https://linkedin.com"><i style="color: rgb(4, 76, 114); font-size: 30px;" class="icon-linkedin-squared"></i></a>
                <a target="_blank" href="https://twitter.com"><i style="color: rgb(4, 76, 114); font-size: 30px;"  class="icon-twitter-squared"></i></a>
                <a target="_blank" href="https://facebook.com"><i style="color: rgb(4, 76, 114); font-size: 30px;" class="icon-facebook-official"></i></a>
                    
            </div>
           
        </div>

    </section>