 <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Write Us | Our staff is ready to serve you!!</h2>
                    <p>We are number one in customer service</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div>
                        <div class="form-group">
                            <label for="idInCE">Your Email</label>
                            <input type="email" class="form-control" id="idInCE" placeholder="name@example.com">
                        </div>
                        <div class="form-group">
                            <label for="idInNom">Name</label>
                            <input type="text" class="form-control" id="idInNom" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="idInMen">Message</label>
                            <textarea  id="idInMen" class="form-control" rows="4"></textarea>
                        </div>
                        <button id="idBtnEnviar">Send Message</button>
                    </div>
                </div>
                <div class="col-md-6 m-auto text-center">
                    <img data-aos="fade-up-left" src="img/calls.png" class="img-fluid" alt="Customer Service">
                    <h3>Customer Service</h3>
                    <p>100% Qualified / Service 24/7</p>
                </div>
            </div>
        </div>
    </section>
       