<section>
        <div class="container">
            <div class="row text-center portfolio_cont_sec_1">
                <div class="col-md-12">
                    <hr/>
                    <h2>Services</h2>
                    <p>We Do Everything for You</p>
                    
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="img/graphicdesign.jpg" class="img-fluid"  alt="Graphic Design">
                    <h3>Graphic Design</h3>
                    <p>We Do Everything for You, We Create Design of Corporative Image, Logotype, Flyer...</p>
                </div>
                <div class="col-md-4">
                    <img src="img/webdesign.png" class="img-fluid"  alt="Web Design">
                    <h3>Web Design</h3>
                    <p>We Do Everything for You, We Create Web Design, Social Media Management, Content Management...</p>
                </div>
                <div class="col-md-4">
                    <img src="img/softwareapplication.jpg" class="img-fluid"  alt="Graphic Design">
                    <h3>Software Applications</h3>
                    <p>We Do Everything for You, We Create Design of Software Applications, Application for companies, Data and Analytics...</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row portfolio_cont_sec_1">
                <div class="col-md-9">
                <h2><b> Follow us Social Media </b></h2>
                <hr/>
                <p> In our social media you can found information about our customers and differents Projects.</p>
               
                <a target="_blank" href="https://linkedin.com"><i style="color: rgb(4, 76, 114); font-size: 30px;" class="icon-linkedin-squared"></i></a>
                <a target="_blank" href="https://twitter.com"><i style="color: rgb(4, 76, 114); font-size: 30px;"  class="icon-twitter-squared"></i></a>
                <a target="_blank" href="https://facebook.com"><i style="color: rgb(4, 76, 114); font-size: 30px;" class="icon-facebook-official"></i></a>
                    
            </div>
            <div class="portfolio_cont_sec_1_link col-md-3 text-center" >
                <a href="#" class="btn btn-secondary btn-md" >Contact Me</a>
            </div>

        </div>

    </section>
