.portfolio_cont_banner {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/background.jpg");
}

.portfolio_shadow 
{

    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(5, 119, 160, 0.6);
    color: #fff;
    margin: auto;

}

.portfolio_shadow hr {

    border-top: 1px solid #fff;
}

.portfolio_shadow h1 {
    font-size: 8vw;
    margin-bottom: 10px;

}

.portfolio_shadow p {
    font-size: 4vw;
    margin-bottom: 10px;

}

.portfolio_cont_banner_link {

    margin: 15px;
    position: relative;
}

.portfolio_cont_banner_link a {

    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}

.portfolio_cont_banner_link a:hover {
    background-color: #fff;
    color: #111;

}

.portfolio_banner_link {

    opacity: 0;
    animation: portfolio_keyframes_display_up 1s;
    -webkit-animation: portfolio_keyframes_display_up 1s;
    animation-fill-mode: forwards;
}