<footer>
    <div class="portfolio_cont_footer text-center">
        <div class="container">
            <h3>Ana Rivera - 301201149 - Web Application Development COMM 229 - Sec 002</h3>
            <h4>Centennial College - 2022.</h4>
        </div>
    </div>
</footer>